AUTH_SECRET="your_nextauth_secret" # Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_MICROSOFT_ENTRA_ID_ID=your_microsoft_entra_id_id
AUTH_MICROSOFT_ENTRA_ID_SECRET=your_microsoft_entra_id_secret
AUTH_MICROSOFT_ENTRA_ID_ISSUER=https://login.microsoftonline.com/your_microsoft_entra_id_tenant/v2.0

MYSQL_HOST=your_mysql_host
MYSQL_USER=your_mysql_user
MYSQL_PASSWORD=your_mysql_password
MYSQL_DATABASE=your_mysql_database

EPFL_API_USERNAME=your_epfl_api_username
EPFL_API_PASSWORD=your_epfl_api_password

MAIL_SMTP_HOST=your_mail_smtp_host
MAIL_AUTH_USER=your_mail_auth_user
MAIL_AUTH_PASS=your_mail_auth_pass
MAIL_FROM_EMAIL=your_mail_from_email

OASIS_BEARER=your_oasis_bearer