@import "tailwindcss";

:root {
  --background: #ffffff;
  --background-secondary: #f5f5f5;
  --foreground: #171717;
  --fc-button-bg-color: var(--background-secondary);
  --fc-button-active-bg-color: var(--color-primary);
  --fc-today-bg-color: var(--background-secondary);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #ff0000;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.dropdown {
  border-color: var(--background-secondary);
  border-width: 0 --spacing(2) 0 0;
}

.modal:focus {
  outline: none !important;
}

.fc-button {
  border: none !important;
  color: var(--foreground) !important;
  font-weight: var(--font-weight-medium) !important;
  padding-inline: --spacing(5) !important;
  &:hover {
    cursor: pointer;
    filter: contrast(0.9) !important;
    &:not(.fc-button-active) {
      background-color: var(--background-secondary) !important;
      box-shadow: var(--shadow-sm) !important;
    }
  }
}

/* fullcalendar overrides : buttons in toolbar */
.fc-toolbar-chunk > .fc-button-group {
  border-radius: var(--radius-4xl) !important;
  background-color: var(--background-secondary) !important;
  padding-inline: --spacing(1) !important;
  gap: --spacing(1) !important;
  > .fc-button {
    border-radius: var(--radius-4xl) !important;
    padding-top: --spacing(1) !important;
    padding-bottom: --spacing(1) !important;
    margin-top: --spacing(1) !important;
    margin-bottom: --spacing(1) !important;
  }
  > .fc-button-active {
    box-shadow: var(--shadow-sm) !important;
    color: var(--color-white) !important;
  }
}

/* fullcalendar overrides : overall borders */
.fc-today-button,
.fc-col-header,
.fc-scrollgrid-section > td,
.fc-scrollgrid-section > th,
.fc-scrollgrid,
.fc-listWeek-view {
  border-radius: var(--radius-xl) !important;
  overflow: hidden !important;
}

.fc-event {
  border-radius: var(--radius-lg) !important;
}

/* // fix for FullCalendar border radius issue on last header element */
th[role="presentation"] {
  border-bottom-right-radius: 0 !important;
}

td[role="presentation"] {
  border-top-right-radius: 0 !important;
}

.fc-event:hover {
  cursor: pointer;
  filter: brightness(0.9) !important;
  box-shadow: var(--shadow-sm) !important;
}

@media print {
  #status-selector,
  #modal-toolbar,
  button {
    display: none;
  }
}

/* responsive styles */
@media (max-width: 48rem) {
  .fc-header-toolbar {
    flex-wrap: wrap !important;
    gap: --spacing(2) !important;
    .fc-toolbar-chunk {
      &:first-child {
        order: 2 !important;
      }
      &:nth-child(2) {
        width: 100% !important;
      }
      &:last-child {
        order: 3 !important;
      }
    }
  }
  .fc-button {
    padding-inline: --spacing(3) !important;
  }
}

@media (max-width: 64rem) {
  .fc-button {
    padding-inline: --spacing(2) !important;
  }
}

@layer components {
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: --spacing(2);
    cursor: pointer;
    border-radius: var(--radius-xl);
    padding-inline: --spacing(5);
    padding-block: --spacing(2);
    font-weight: var(--font-weight-semibold);
    &:hover {
      @media (hover: hover) {
        box-shadow: var(--shadow-md);
        filter: contrast(0.9);
      }
    }
  }

  .btn-primary {
    background-color: var(--color-primary) !important;
    color: var(--color-white);
  }

  .btn-secondary {
    background-color: var(--background-secondary);
  }
}
